.icon-button {
    cursor: pointer;
}

.icon-button :hover {
    filter: brightness(0) invert(0) invert(42%) sepia(69%) saturate(900%) hue-rotate(186deg) brightness(99%) contrast(94%);
    opacity: 0.6;
    will-change: transform;
}

.icon-button :active {
    filter: brightness(0) invert(0) invert(17%) sepia(84%) saturate(2353%) hue-rotate(205deg) brightness(121%) contrast(113%);
    will-change: transform;
}