.task-tag {

    height: 19px;
    width: fit-content;

    padding: 2px 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #838383;

    background: #F5F5F5;
    border-radius: 6px;

    text-transform: lowercase;
}

.task-tag--blue {
    background: rgba(60, 134, 244, 0.31);
    color: #0053CF;
}

.task-tag--purple {
    background: #E8D7FF;
    color: #9747FF;
}

.task-tag--green {
    background: #E2F6E2;
    color: #639462;
}

.task-tag--orange {
    background: #FFECC7;
    color: #EA8C00;
}

.task-tag--red {
    background: rgba(239, 63, 62, 0.31);
    color: #EF3F3E;
}

.task-tag__input {
    all: unset;

    text-align: center;

    width: 8px;
}