.task-tag {

    height: 19px;
    width: fit-content;

    padding: 2px 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #838383;

    background: #F5F5F5;
    border-radius: 6px;

    text-transform: lowercase;
}

.task-tag--light-blue {
    background: rgba(60, 134, 244, 0.31);
    color: #0053CF;
}

.task-tag--light-purple {
    background: #E8D7FF;
    color: #9747FF;
}

.task-tag--light-green {
    background: #E2F6E2;
    color: #639462;
}

.task-tag--light-orange {
    background: #FFECC7;
    color: #EA8C00;
}

.task-tag--light-red {
    background: rgba(239, 63, 62, 0.31);
    color: #EF3F3E;
}

.task-tag--dark-blue {
    color: #C2DEF4;
    background: #0053CF;
}

.task-tag--dark-purple {
    color: #E8D7FF;
    background: #9747FF;
}

.task-tag--dark-green {
    color: #E2F6E2;
    background: #639462;
}

.task-tag--dark-orange {
    color: #FFECD8;
    background: #EA8C00;
}

.task-tag--dark-red {
    color: #FCEECB;
    background: #EF3F3E;
}

.task-tag__input {
    all: unset;

    text-align: center;

    width: 8px;
}