.weather-widget {
    border-radius: 24px;

    height: 65px;

    min-width: 332px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    padding: 22px;
}

.weather-widget__icon {
    min-width: 44px;
    max-width: 57px;

    height: 44px;

}

.weather-widget__temp {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #000000;
}

.weather-widget__location {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    overflow: scroll;

    color: #838383;

    margin-left: auto;
}


@media screen and (max-width: 900px) {
    .weather-widget {
        padding: 18px;

        min-width: 250px;
        max-width: 300px
    }

    .weather-widget__icon {
        min-width: 36px;
        max-width: 50px;

        height: 36px;

    }

    .weather-widget__temp {
        font-size: 16px;
    }

    .weather-widget__location {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .weather-widget {
        padding: 8px;

        min-width: 200px;
        max-width: 450px
    }

    .weather-widget__icon {
        min-width: 30px;
        max-width: 45px;

        height: 30px;

    }

    .weather-widget__temp {
        font-weight: 600;
        font-size: 16px;
    }

    .weather-widget__location {
        font-size: 12px;

    }
}