.Home__search {
    width: calc(100vw - 120px);
}

.Home__controls {
    display: flex;
    flex-direction: row;
    gap: 40px;

    align-items: center;
    justify-content: left;

    margin-bottom: 42px;
    margin-top: 42px;

}

.Home__filter-tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.Home__filter-tag-item {
    cursor: pointer;

    opacity: 0.4;
}

.Home__filter-tag-item--active {
    cursor: pointer;

    opacity: 1;
}

.Home__filter-tag-item--inactive {
    cursor: pointer;

    opacity: 0.4;
}

.Home__sort {
    width: 220px;
}

.Home__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.Home__list {
    margin-bottom: 42px;
}

.Home__add-button {
    min-width: 158px;
}

.sort {
    padding-left: 35px;

    cursor: pointer;
}

.sort--increasing {
    background-size: 16px 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url("assets/increasing.svg");
}

.sort--decreasing {
    background-size: 16px 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url("assets/decreasing.svg");
}

@media screen and (max-width: 1200px) {
    .Home__list {
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 900px) {
    .Home__controls {
        flex-direction: column;
        gap: 20px;

        align-items: center;
        justify-content: center;
    }

    .Home__filters {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 40px;
    }

    .Home__add-button {
        width: calc(100vw - 120px);
    }

    .Home__search {
        width: calc(100vw - 120px);
    }

    .Home__sort {
        width: calc(100vw - 120px);
    }

    .Home__list {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 600px) {
    .Home__controls {
        flex-direction: column;
        gap: 20px;

        align-items: center;
        justify-content: center;
    }

    .Home__filters {
        flex-direction: column;
        gap: 30px;

        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .Home__add-button {
        width: calc(100vw - 64px);
    }

    .Home__search {
        width: calc(100vw - 64px);
    }

    .Home__sort {
        width: calc(100vw - 64px);
    }

    .Home__list {
        margin-bottom: 20px;
    }
}