.Header {
    display: grid;
    align-items: center;
    justify-content: space-between;

    grid-template: 'title title title title weather theme';
}

.Header__title {
    grid-area: title;

    width: fit-content;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.Header__theme-toggle {
    grid-area: theme;
}

.Header__weather {
    grid-area: weather;
}


@media screen and (max-width: 600px) {
    .Header {
        row-gap: 20px;
        justify-content: space-evenly;
        grid-template: 'title theme' 'weather weather';
    }
}



