.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

@media screen and (max-width: 600px) {
    .Header {
        flex-direction: column;
    }
}