.subtask {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;

    margin-bottom: 15px;
}

.subtask__checkbox {
}

.subtask__title {
    all: unset;
}

.subtask__title--checked {
    opacity: 0.6;
    text-decoration: line-through rgba(0, 0, 0, 0.6);
}

.subtask__checkbox-img--checked:hover {
    opacity: 0.6;
}

.subtask__checkbox-img--unchecked:hover {
    filter: brightness(0.8);
}

.subtask__checkbox-img {

}

.subtask__delete {
    width: 14px;
}