body, html {
  font-family: 'Nunito', sans-serif;
  color: #1D1D1D;
}


ul {
  list-style-type: none
}

.skeleton {
  background: #F1F2F3;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  height: 24px;
  width: 46px;
  border-radius: 12px;
}

.skeleton-img {
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.text-input {

  height: 52px;

  padding: 16px 21px;

  border: 1px solid #D2D2D2;
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #1D1D1D;

  background: #F5F5F5;
}

.text-input::placeholder {
  color: #838383;
}

.text-input:focus {
  outline: none;
  border: 1px solid #666;
  border-radius: 12px;
}

/*
Default Button
*/
.button {
  height: 52px;

  padding: 16px 32px;

  border-radius: 12px;

  background: rgba(60, 134, 244, 0.15);

  color: #0053CF;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.button:hover {
  background: rgba(60, 134, 244, 0.35);
}

.button:active {
  background: #3C86F4;
  color: #FFFFFF;
}

.button:disabled {
  background: #D3D3D3;
  color: #FFFFFF;
  cursor: default;
}

/*
Transparent Button
*/
.button--isTransparent {
  background: none;
  color: #0053CF;
}

.button--isTransparent:hover {
  background: none;
  color: rgba(239, 63, 62, 0.7);
}

.button--isTransparent:active {
  background: none;
  color: #EF3F3E;
}

.button--isTransparent:disabled {
  color: #D3D3D3;
}

.outline{
  outline: 1px solid red;
}